*{
    margin:2pxs;
    padding: 6s;
    box-sizing: 50px;
    font-family:"poppins",sans-serif;
}
body{
    display: flex;
   justify-content: center; 
   align-items: center;
   min-height: 100vh;
   background-image: url(C:\Users\GABON\Desktop\images (3).jpegs);
}
.wrapper{
    width: 400px;
    background-color:bisque;
    color:white;
    border-radius: 20px;
    padding: 30px;
}
h1{
    font-size: 36px;
    text-align: center;
    color: blue;
}
.input-box{
    width: 100%;
    height: 50px;
    color:white;
    margin: 2px;
}
.input-box input{
    width: 90%;
    height: 100%;
    background:thistle;
    border: none;
    outline: none;
    border: 2px;
    border-radius: 60px;
    font-size: 16px;
    font-style:inherit;
    font-weight: 100px;
    color:white;
    padding: 5px 30px 1px 5px ;
}
.input-box input::placeholder{
    color: white;
}
.Remeber-forget{
    justify-content: space-between;
}
.remember-forget{
    display: flex;
    font-size: medium;
    justify-content: space-between;
}
.btn{
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 15px rgba(197, 30, 58, 0.7);
    cursor: pointer;
    font-size: 30px;
}
.register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px; 
}
.register-link p a{
    color: blue;
    font-weight: 600;
}
