body{
background-image: url(C:\Users\GABON\Desktop\denaya.jpg);
background: cover;
}
h1{
    color: brown;
}
image{
    justify-content: space-between;
    width: 600px;
    height: 500px;
    image-resolution: initial;
    im
    
}
p{
font-size: large;
font-weight: 600px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
justify-content: space-between;
}